/home/.config/filezilla/filezilla.xml
/home/.config/filezilla/sitemanager.xml
/home/.config/transmission/settings.json
/.p

/live/Identifying*
/live/**/*.deb
/live/**/*.gz
/live/**/*.iso

/server
/windows

*.lock

/System Volume Information
