/Shared/FileZilla/filezilla.xml
/Shared/FileZilla/sitemanager.xml
/Shared/Transmission/settings.json
/Shared/.p

/Live/Identifying*
/Live/**/*.deb
/Live/**/*.gz
/Live/**/*.iso

/Server

/Windows/FastPictureViewer Codec Pack

*.lock

/System Volume Information
